.main-item {
  border-bottom: 3px solid var(--color-off-white);
}

.main-item-date {
  font-weight: 500;
}

.main-item-summary {
  font-weight: bold;
  font-size: large;
}

.date-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar-calender {
  margin-left: auto;
}

.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-calender {
  margin-top: 1rem;
}
