.loading-container {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


@media only screen and (max-width: 750px) {
    
    .dash-rows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}