.laundry-week {
  color: white;
  border: 3px solid rgb(248, 248, 248);
  border-radius: 8px;
  overflow: hidden;
}

.laundry-week-header {
  text-align: center;
  padding: 2px;
  margin-top: 5px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.rodt-slogan {
  display: flex;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
  gap: 10px;
  margin-bottom: 10px;
}

.expand-icon {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-table-header {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}

.week-table-header div {
  flex: 1;
  text-align: center;
}

.week-row.expand {
  font-size: 17px;
}

.week-row {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  font-size: 25px;
}



.week-row div {
  flex: 1;
  text-align: center;
}

.week-row.highlight {
  background-color: lightblue;
}
