.laundry-week {
  color: white;
  border: 3px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.laundry-week-header {
  text-align: center;
  padding: 2px;
  margin-top: 5px;
}

.rodt-slogan {
  display: flex;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
  gap: 10px;
  margin-bottom: 10px;
}

.expand-icon {
  margin-bottom: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
